<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.example.lonixchu.doctor.Confirmation" />
        <activity android:name="com.example.lonixchu.doctor.Finish" />
        <activity android:name="com.example.lonixchu.doctor.detail"></activity>
    </application>

</manifest>